deny from all
<Files index.php>
allow from all
</Files>
<Files AccueilUtilisateur.php>
allow from all
</Files>
<Files Episode.php>
allow from all
</Files>
<Files GestionCompte.php>
allow from all
</Files>
<Files PageSerie.php>
allow from all
</Files>
<Files affichageSerie.css>
allow from all
</Files>
<Files cssDefault.css>
allow from all
</Files>
