html{
    background-color: #1f1f1f;
    color: white;
}
form{
    text-align: right;
    display: grid;
    grid-row-gap: 20px;
    padding: 20px;
    border: solid;
}
.enteteAccueil{
    display: grid;
    justify-content: center;
    align-items: start;
    max-block-size: 300px;
    min-block-size: 200px;
}

button{
    inline-size: fit-content;
    justify-self: center;
}
header{
    text-align: center;
}
footer{
    bottom: 0;
    position:absolute;
    width:100%;
    background-color: rgba(56, 49, 49, 0.24);
}

/* box inline*/
footer div {
    margin: 2em;
    display: inline-block;
}

a{
    text-decoration: none; ;
    font-style:normal;
    color: white;

}
a:focus,
a:hover{
    text-decoration: underline;
    color: #b0f1ff;
}

h3{
    text-decoration: underline;
}

.nous{
    margin-top: 3em;
}

